<app-navbar></app-navbar>
<body>
    <div class="wrapper">
<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>User Dashboard</h3>
    </div>

    <ul class="list-unstyled components">
        <li >
            <a [routerLink]="'/normal/dashboard'" >My Surveys</a>
        </li>
        <li class="active">
            <a [routerLink]="'/normal/getUsers'">User info</a>
        </li>
        
        
    </ul>

    
</nav>
<div id="content">



    <div style="display:flex;justify-content:center;height:100%; width:100%;">

  
        <div class="card border-dark mb-3 mt20" >
    
    
            <div class="card-header text-center"><h1>USER PROFILE</h1></div>
            <div class="card-body text-dark">
                <table class="table text-center" style="width:50rem;height:30rem">
                    <tr>
                        <td><h3>Name</h3></td>
                        <td><h3>{{user.fullName}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>User Id</h3></td>
                        <td><h3>{{user.id}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Phone</h3></td>
                        <td><h3>{{user.mobileNo}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Email</h3></td>
                        <td><h3>{{user.email}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Role</h3></td>
                        <td><h3>{{user.authorities[0].authority}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Status</h3></td>
                        <td><h3>{{user.enabled ? "ACTIVE" : "NOTACTIVE"}}</h3></td>
                    </tr>
                </table>
                
    
            </div>
        </div>
    </div>
    </div>
</div>
</body>