<app-admin-navbar></app-admin-navbar>
<div sytle="display:flex;">

    <!-- <div>
        <app-user-dashboard-nav></app-user-dashboard-nav>

       </div> -->

    <div class="bootstrap-wrapper ">
        <div class="container">
            <div class="raw mt20">
                <p style="color:white">IMPORTANT<span style="color:red">*</span> -> You can only give your opinion one
                    time in a particalar question. So, give your opinion wisely there no way home...!!</p>
                <div *ngFor="let surveyquestion of surveyQuestion; let i = index" class="col-md-6 mt20"
                    style="width:100%;">
                    <div class="card-header" style="background-color:rgb(230, 230, 230)">Question : {{i+1}}</div>
                    <div class="card-body" style="background-color:rgb(230, 230, 230)">
                        <!-- <h5 class="card-title">Description</h5> -->
                        <p class="card-text" style="font-size:1.2rem;padding-top:0.5rem;padding-bottom:0.5rem">
                            {{surveyquestion.questionDescription}}</p>





                    </div>

                </div>

                <a class="btn btn-primary" (click)="goBack()" style="margin-top:1rem;margin-bottom:2rem">Go Back</a>

            </div>
        </div>
    </div>
</div>