
<div style="display:flex">
    
    <div class="container mt-0 mb-0">
        <div class="row">

            <!-- <div ngIf="" ><h1>No data to show</h1></div> -->
            <div class="col-md-4" *ngFor="let aboutSurvey of aboutSurveys; let i = index ">
                <div class="card mt-4 p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <img src="../../assets/surfeed.png"><i class="bx bxl-reddit"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">{{aboutSurvey.userEmail}}</h6> <span>{{aboutSurvey.surveyDate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">{{aboutSurvey.surveyTitle}}<br>{{aboutSurvey.surveyDescription}}</h3>
                        <div class="mt-5">
                            <div style="display: flex;">
                                <div style="padding:5px;">
                                    <a [routerLink]="'/user/dashboard/mysurveys/surveyquestionsonly/'+aboutSurvey.surveyId"
                                        class="btn btn-primary">Show Questions</a>
                                </div>


                                <div style="padding:5px;">
                                    <a (click)="setExpired(aboutSurvey.surveyId, true)" class="btn btn-primary">Turn Off
                                    </a>
                                </div>
                                

                            </div>
                            <div style="padding:5px;">
                                <a [routerLink]="'/user/surveyquestions/'+aboutSurvey.surveyId" class="btn btn-primary">Attempt Survey
                                </a>
                            </div>


                            <div class="mt-3"> <span class="text1">{{ResponseCount[i]}} Users Responded </span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>