@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mt80{
    margin-top: 80px;
}

.features {
    
    background-image: linear-gradient(to right top, #545253, #6d696d, #868288, #9f9ca6, #b6b7c4, #adb3c0, #a4aebb, #9caab5, #76858b, #546163, #353e3f, #191f1e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
