/* #f{
    margin-top: 10%;
    margin-left: 30%;
} */
body{
    background-image: linear-gradient(to left bottom, #1d1a1c, #3d3a3d, #5f5d61, #838287, #a9aab0, #b6b9bf, #c3c8cd, #d1d7dc, #c7cfd3, #bec7c9, #b5bec0, #acb6b6);
}